{% extends 'newborn/base.html.twig' %}

{% block body %}
    <div class="container-lg my-5">
        <h2>{{ 'newborns'|trans }}</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">{{ 'main'|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ 'newborns'|trans }}</li>
            </ol>
        </nav>
        <div class="container-lg my-5">
            <table class="table">
                <thead>
                    {% include 'blocks/kid_table_head.html.twig' %}
                </thead>
                <tbody>
                    {% for newborn in newborns %}
                        <tr>
                            <td class="ml-4">{{ newborn.id }}</td>
                            <td>{{ newborn.name }}</td>
                            <td>{{ newborn.dateOfBirth ? newborn.dateOfBirth|date('d-M-Y') : '' }}</td>
                            <td>{{ newborn.sex|trans }}</td>
                            <td>
                                <a class="btn btn-info btn text-nowrap" href="{{ path('app_newborn_show', {'id': newborn.id}) }}" role="button">{{ 'button.show'|trans }}</a>
                                <a class="btn btn-info btn" href="{{ path('app_newborn_edit', {'id': newborn.id}) }}" role="button">{{ 'button.edit'|trans }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">{{ 'noRecordsFound'|trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
