{% extends 'newborn/base.html.twig' %}

{% block title %}{{ 'createData'|trans }}{% endblock %}

{% block body %}
    <div class="container-lg my-5">
        <h2>{{ 'createData'|trans }}</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">{{ 'main'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_newborn_index') }}">{{ 'newborns'|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ 'createData'|trans }}</li>
            </ol>
        </nav>
        <a class="btn btn-info" href="{{ path('app_newborn_index')}}" role="button">{{ 'button.backToList'|trans }}</a>

        <div class="container-lg my-5">
            <div class="row">
                <div class="col-4 mb-2">
                    {{ include('newborn/_form.html.twig', {'button_label': 'button.create'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}