{% extends 'base.html.twig' %}

{% block title %}{{ 'kids'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-lg my-5">
        <h2>{{ 'moments'|trans }}</h2>

        <div class="container-lg my-5">
            {% if kid_name is defined %}
                {% include 'blocks/success.html.twig' %}
            {% endif %}
            <div class="row">
                <div class="col mb-5 d-flex justify-content-end">
                    <a class="btn btn-info btn-lg" href="{{ path('app_kid_new')}}" role="button">{{ 'button.createKid'|trans }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col mb-5 d-flex justify-content-end">
                    <a class="btn btn-info btn-lg" href="{{ path('app_adult_new')}}" role="button">{{ 'button.createAdult'|trans }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a class="btn btn-info btn-block" href="{{ path('app_newborn_index')}}" role="button">{{ 'newborns'|trans }}</a>
                </div>
                <div class="col-sm">
                    <a class="btn btn-info btn-block" href="{{ path('app_infant_index')}}" role="button">{{ 'infants'|trans }}</a>
                </div>
                <div class="col-sm">
                    <a class="btn btn-info btn-block" href="" role="button">{{ 'toddlers'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

