{% extends 'base.html.twig' %}

{% block title %}{{ 'statistics'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-lg my-5">
        <h2>{{ 'statistics'|trans }}</h2>

        <div class="container-lg my-5">
            <div class="row my-5">
                <div class="col-sm">
                    <h4>{{ 'kids'|trans }}:</h4>

                    {% for kid in kids %}
                        <div class="row">
                            {{ kid }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm">
                    <h4>{{ 'adults'|trans }}:</h4>

                    {% for adult in adults %}
                        <div class="row">
                            {{ adult }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm">
                    {% if youngestKids is defined %}
                        <h4>{{ 'youngest'|trans }}</h4>
                        {% for youngest in youngestKids %}
                            <div class="row">
                                {{ youngest }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>



        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

