{% extends 'infant/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% if infant.sex == 'male' %}
        {{ encore_entry_link_tags('boy') }}
    {% elseif infant.sex == 'female' %}
        {{ encore_entry_link_tags('girl') }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container-lg my-5">
        <h2>{{ infant.name}}</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">{{ 'main'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_infant_index') }}">{{ 'infants'|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ infant.name }}</li>
            </ol>
        </nav>
        <a class="btn btn-info" href="{{ path('app_infant_index')}}" role="button">{{ 'button.backToList'|trans }}</a>
        <div class="container-lg my-5">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <table>
                        <tbody>
                        <tr>
                            <th>{{ 'name'|trans }}</th>
                            <td>{{ infant.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'dateOfBirth'|trans }}</th>
                            <td>{{ infant.dateOfBirth ? infant.dateOfBirth|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'sex'|trans }}</th>
                            <td>{{ infant.sex|trans }}</td>
                        </tr>
                        {% for adult in adults %}
                            <tr>
                                <th>{{ 'adult'|trans }}</th>
                                <td>{{ adult.name }} {{ adult.surname }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm">
                            <a class="btn btn-info btn-block" href="{{ path('app_infant_edit', {'id': infant.id}) }}" role="button">{{ 'button.edit'|trans }}</a>
                        </div>
                        <div class="col-sm">
                            {{ include('infant/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}