{% for k in kids %}
    {% set kid = k.kid %}
    <tr>
        <td class="ml-4">{{ kid.id }}</td>
        <td>{{ kid.name }}</td>
        <td>{{ kid.dateOfBirth ? kid.dateOfBirth|date('d-M-Y') : '' }}</td>
        <td>{{ kid.sex.value|trans }}</td>
        <td>
            <a class="btn btn-info btn text-nowrap" href="{{ path('app_kid_show', {'id': kid.id}) }}" role="button">{{ 'button.show'|trans }}</a>
            <a class="btn btn-info btn" href="{{ path('app_kid_edit', {'id': kid.id}) }}" role="button">{{ 'button.edit'|trans }}</a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="5">{{ 'noNewbornsFound'|trans }}</td>
    </tr>
{% endfor %}